<div fxLayout="row" fxLayoutGap="8px" class="container">
  <div
    class="tree-container"
    tabindex="0"
    (keydown.arrowRight)="$event.stopPropagation();onKeyDownArrayRight()"
    (keydown.arrowLeft)="$event.stopPropagation();onKeyDownArrayLeft()"
    (keydown.arrowUp)="$event.stopPropagation();onKeyDownArrayUp()"
    (keydown.arrowDown)="$event.stopPropagation();onKeyDownArrayDown()"
    fxFlex="50"
  >
    <app-element-tree-node-list
      [elements]="[elementTree]"
      [nested]="0"
    ></app-element-tree-node-list>
  </div>
  <app-element-props-list
    fxFlex="50"
  >
  </app-element-props-list>
</div>
