<div class="container">
  <mat-tab-group>
    <mat-tab label="Styles">
      <div *ngIf="item">
        item:
        {{convertStyleType(item)}}
      </div>
      <div *ngIf="style!=null">
        <div *ngFor="let styleEntry of style">
          <div>
            {{styleEntry[0]}}:
            {{convertStyleType(styleEntry[1])}}
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
