<mat-tab-group mat-align-tabs="start" class="tab-group" fxFill>
  <mat-tab label="Rendering">
    <app-rendering></app-rendering>
  </mat-tab>
  <mat-tab label="Profiler">
    <app-profiler></app-profiler>
  </mat-tab>
</mat-tab-group>

