<mat-selection-list
  [ngModel]="debuggerElementsService.selectedElementId==null ? [] : [debuggerElementsService.selectedElementId]"
  (ngModelChange)="setSelectedElementIds($event)"
  [multiple]="false"
  (focus)="$event.preventDefault()"
>
  <ng-container *ngFor="let elementNode of elements">
    <mat-list-option
      [value]="elementNode.id"
      (mouseenter)="onMouseEnter(elementNode.id)"
      (mouseleave)="onMouseLeave(elementNode.id)"
    >
      <div class="element-row" [style.marginLeft.px]="nested*24">
        <button
          *ngIf="elementNode.children.length>0"
          mat-icon-button
          class="expand-button"
          (mousedown)="$event.stopPropagation();"
          (click)="$event.stopPropagation(); debuggerElementsService.elementIdExpandStatMap[elementNode.id] = !debuggerElementsService.elementIdExpandStatMap[elementNode.id]">
          <mat-icon
            [style.transform]="debuggerElementsService.elementIdExpandStatMap[elementNode.id] == true? 'rotate(90deg)':'none'">
            chevron_right
          </mat-icon>
        </button>
        <div class="node-spacer" *ngIf="elementNode.children.length==0"></div>
        {{elementNode.type}}
      </div>
    </mat-list-option>
    <div class="nested-list-container" *ngIf="debuggerElementsService.elementIdExpandStatMap[elementNode.id]">
      <div class="align-helper-line" [style.left.px]="(nested+1)*24+6"></div>
      <app-element-tree-node-list
        [elements]="elementNode.children"
        [nested]="nested+1"
      ></app-element-tree-node-list>
    </div>
  </ng-container>
</mat-selection-list>
