.nested-list-container {
  position: relative;
}

.element-row {
  padding: 2px 0 !important;
  word-break: break-all;
  display: flex;
  align-items: center;
}

.align-helper-line {
  position: absolute;
  top: 0;
  height: 100%;
  border-left: 1px rgba(255, 255, 255, 0.2) solid;
}

.expand-button {
  line-height: 28px !important;
  width: 28px !important;
  height: 28px !important;

  .mat-icon {
    line-height: 20px !important;
    width: 20px !important;
    height: 20px !important;
    transition: all 250ms;
    font-size: 20px !important;
  }
}

.node-spacer {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.mat-list-option:focus:not(.mat-list-single-selected-option) {
  background: unset;
}
