<mat-card fxFill fxLayoutAlign="center center">
  <div class="container">
    <div
      class="cost-brick"
      matTooltip="Node creation: {{(task.nodeCreationTimePeriod.endTime! - task.nodeCreationTimePeriod.startTime!)/1000}}µs"
      [style.left.%]="getPercentageByNanotime((task.nodeCreationTimePeriod).startTime!)"
      [style.right.%]="100 - getPercentageByNanotime((task.nodeCreationTimePeriod).endTime!)"
    >
      Node creation: {{(task.nodeCreationTimePeriod.endTime! - task.nodeCreationTimePeriod.startTime!)/1000}}µs
    </div>

    <div
      class="cost-brick"
      matTooltip="Node creation: {{(task.flexboxCalculationTimePeriod.endTime! - task.flexboxCalculationTimePeriod.startTime!)/1000}}µs"
      [style.left.%]="getPercentageByNanotime((task.flexboxCalculationTimePeriod).startTime!)"
      [style.right.%]="100 - getPercentageByNanotime((task.flexboxCalculationTimePeriod).endTime!)"
    >
      Flexbox calculation: {{(task.flexboxCalculationTimePeriod.endTime! - task.flexboxCalculationTimePeriod.startTime!)/1000}}µs
    </div>

    <div
      class="cost-brick"
      matTooltip="Node creation: {{(task.pixelPaintingTimePeriod.endTime! - task.pixelPaintingTimePeriod.startTime!)/1000}}µs"
      [style.left.%]="getPercentageByNanotime((task.pixelPaintingTimePeriod).startTime!)"
      [style.right.%]="100 - getPercentageByNanotime((task.pixelPaintingTimePeriod).endTime!)"
    >
      Pixel painting: {{(task.pixelPaintingTimePeriod.endTime! - task.pixelPaintingTimePeriod.startTime!)/1000}}µs
    </div>
  </div>
</mat-card>
