.container {
  width: 100%;
  height: 50px;
  position: relative;
}

.cost-brick{
  height: 50px;
  border: white 1px solid;
  background: #e91e63;
  line-height: 16px;
  font-size: 12px;
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  position: absolute;
  top: 0;
}
