.thread-row {
  height: 40px;
}

.thread-name {
  position: sticky;
  left: 0;
  width: 150px;
  display: flex;
  z-index: 1;
  background: #424242;
  justify-content: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thread-tasks {
  padding: 0 10px;
  position: relative;
  width: calc(100% - 150px);
}

.thread-tasks-task {
  position: absolute;
  margin: 10px 0;
  height: 20px;
  background: whitesmoke;
  border: 1px solid white;
  cursor: pointer;

  &.style-render-task {
    background: rgb(233, 30, 99, 0.3);
    border: rgb(233, 30, 99, 0.3) solid 1px;
  }
}

:host {
  height: 100%;
}

.thread-tasks-scale-container {
  width: 100%;
  //height: 100%;
  overflow: auto;
}

.thread-tasks-scale-content {
  top: 0;
  height: 100%;
  padding: 10px 0;
  //transition: all 250ms;
}


.thread-tasks-horizontal-scroll {
  --scrollbar-border-radius: 0px;
  --scrollbar-padding: 0px;
  --scrollbar-viewport-margin: 0;
  --scrollbar-track-color: rgb(96, 96, 96);
  --scrollbar-wrapper-color: transparent;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
  --scrollbar-size: 20px;
  --scrollbar-hover-size: var(--scrollbar-size);
  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
}
