<div fxLayout="row" fxFill>
  <div class="thread-tasks-scale-container" #scaleContentContainer (mousewheel)="onWheel($event)">
    <ng-scrollbar #scaleContainer track="all" pointerEventsMethod="scrollbar" appearance="standard"
                  class="thread-tasks-horizontal-scroll">
      <div class="thread-tasks-scale-content" #scaleContent fxLayout="column"
           [style.width.%]="contentScale * 100">
        <div
          *ngFor="let threadTasks of debuggerProfilerService.profilerResultThreadsTasks"
          class="thread-row"
          fxLayout="row"
        >
          <div class="thread-name" fxFlex="noshrink" fxLayoutAlign="center center">{{threadTasks.threadName}}</div>
          <div class="thread-tasks">
            <ng-container
              *ngFor="let task of threadTasks.tasks"
            >
              <div
                [style.left.%]="getPercentageByNanotime(task.totalTimePeriod.startTime!)"
                [style.right.%]="100-getPercentageByNanotime(task.totalTimePeriod.endTime!)"
                class="thread-tasks-task"
                [class.style-render-task]="task.type === 'StyleRenderTask'"
                matTooltip="{{task.type}}: {{task.taskName}} - {{((task.totalTimePeriod.endTime! - task.totalTimePeriod.startTime!)/1000).toFixed(0)}}µs"
                (click)="selectTask.emit(task)"
              >
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>
