.inventory-rect {
  outline: 1px solid aliceblue;
  border: 1px solid aliceblue;
  position: absolute;
  cursor: pointer;

  &.selected {
    background: rgba(200, 203, 255, 0.1);
  }

  &.hovering {
    background: rgba(239, 200, 255, 0.5);
  }

}
