<div class="sizer"
     [style.left.%]="getPercentageByNanotime((nodeTimePeriod || containerTimePeriod).startTime!)"
     [style.right.%]="100 - getPercentageByNanotime((nodeTimePeriod || containerTimePeriod).endTime!)"
>
  <div
    class="cost-brick"
    [class.not-render]="nodeRenderInfo == null"
    [matTooltip]="description"
  >
    {{description}}
  </div>
  <div class="container">
    <app-dom-render-task-node-cost
      *ngFor="let subNode of nodeRenderState.subNodeRenderStates"
      [nodeRenderState]="subNode"
      [domRenderTaskIteration]="domRenderTaskIteration"
      [containerTimePeriod]="nodeTimePeriod || containerTimePeriod"
    >
    </app-dom-render-task-node-cost>
  </div>
</div>
