.sizer {
  position: absolute;
}

.container {
  position: relative;
  width: 100%;
  margin-bottom: 2px;
  margin-top: -1px;
}

.cost-brick {
  height: 16px;
  border: white 1px solid;
  background: #e91e63;
  line-height: 16px;
  font-size: 12px;
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  position: relative;

  &:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
  }

  &.not-render {
    background: darkgrey;
  }
}
