<div fxFill fxLayout="column" class="container" fxLayoutAlign="start" fxLayoutGap="8px">
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button (click)="onProfilerControlButtonClick()"
            *ngIf="!debuggerProfilerService.isWaitingForProfilingResult">
      {{debuggerProfilerService.isProfiling ? "Stop Profiling" : "Start Profiling"}}
    </button>
    <mat-progress-bar [mode]="progressBarMode" *ngIf="progressBarMode!=null"></mat-progress-bar>
  </div>
  <div *ngIf="debuggerProfilerService.profilerResult!=null" fxFlex="30">
    <mat-card fxFill>
      <app-threads-timeline (selectTask)="selectedRenderTask = $event"></app-threads-timeline>
    </mat-card>
  </div>
  <div fxFlex="60">
    <app-dom-render-task-details
      *ngIf="selectedDOMRenderTask!=null"
      [task]="selectedDOMRenderTask"
    ></app-dom-render-task-details>
    <app-style-render-task-details
      *ngIf="selectedStyleRenderTask!=null"
      [task]="selectedStyleRenderTask"
    ></app-style-render-task-details>
  </div>
</div>
