.inventory-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventory-width-limiter {
  max-width: calc(35vh * 9 / 6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventory-aspect-ratio-sizer {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 6 / 9);
}

.inventory-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: 2px grey solid;
}

