<div class="inventory-container">
  <div class="inventory-width-limiter">
    <div class="inventory-aspect-ratio-sizer">
      <div class="inventory-content">
        <app-accurate-bounding-rect
          *ngFor="let elementId of elementIds"
          [elementId]="elementId"
          [lastStyleRenderResult]="lastStyleRenderResult"
          [isHovering]="debuggerElementsService.hoveringElementId === elementId"
        ></app-accurate-bounding-rect>
      </div>
    </div>
  </div>
</div>
