<mat-card fxFill>
  <div class="container">
    <app-dom-render-task-iteration
      *ngFor="let iteration of task.iterations"
      [renderIteration]="iteration"
    >
    </app-dom-render-task-iteration>
  </div>
</mat-card>
