<div class="outer-container" fxLayout="column" fxLayoutGap="8px">
  <div class="control-bar" fxLayout="row" fxFlex="nogrow" fxLayoutGap="8px" fxLayoutAlign="start center">
    <mat-form-field appearance="outline" class="no-gutter"
    >
      <mat-label>Inspect Target</mat-label>
      <mat-select [(ngModel)]="debuggerInterfaceService.renderingInspectTargetId">
        <mat-option *ngFor="let rootContainerInfo of rootContainersList" [value]="rootContainerInfo.id">
          Container '{{rootContainerInfo.title}}'
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-icon-button
      matTooltip="{{debuggerElementsService.rootContainerUpdatePaused?'Continue receive render result':'Freeze render result'}}"
      (click)="debuggerElementsService.rootContainerUpdatePaused = !debuggerElementsService.rootContainerUpdatePaused"
    >
      <mat-icon>
        {{debuggerElementsService.rootContainerUpdatePaused ? "play_arrow" : "pause"}}
      </mat-icon>
    </button>
  </div>
  <ng-container *ngIf="rootContainer?.lastStyleRenderResult != null">

    <div class="top-part" fxFlex="50" fxLayout="row" fxLayoutGap="8px">

      <mat-card fxFlex="100">
        <app-element-tree-view
          [elementTree]="rootContainer!.lastStyleRenderResult!.elementTree!"
        ></app-element-tree-view>
      </mat-card>

    </div>
    <div class="bottom-part" fxFlex="50" fxLayout="row" fxLayoutGap="8px">

      <mat-card fxFlex="50">
        <app-accurate-bounding-view
          [lastStyleRenderResult]="rootContainer!.lastStyleRenderResult!"
        ></app-accurate-bounding-view>
      </mat-card>

      <mat-card fxFlex="50">

      </mat-card>
    </div>
  </ng-container>
  <div fxFlex="100" fxFlexAlign="center center" *ngIf="rootContainer?.lastStyleRenderResult == null">
    Nothing received yet
  </div>
</div>
