/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-selection-list {
  outline: none;
  padding-top: 0!important;

  .mat-list-base {
    padding-top: 0;
  }

  &  .mat-list-item {
    height: auto!important;
  }
}

app-element-props-list {
  .mat-tab-header {
    height: 28px;
  }

  .mat-tab-label {
    height: 28px;
  }
}

.mat-form-field.no-gutter > .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
